@inherits LayoutComponentBase

<PageTitle>DigitalTwins</PageTitle>

<div class="d-flex flex-column h-100 bg-image">
    <!-- Top Nav -->

    <!-- Main -->
    <main class="flex-grow-1">
        @Body
    </main>

    <!-- Footer -->
</div>

