@page "/"

<PageTitle>Selección Proceso</PageTitle>

<div class="container-fluid bg-image h-100">
    <div class="d-flex align-items-center h-100 justify-content-center">
        <div class="row">
            <div class="col-md-6">
                <div style="width:280px" class="py-4 mx-auto">
                    <DTCard Link="Monitoring"/>
                </div>
            </div>
            <div class="col-md-6">
                <div style="width:280px" class="py-4 mx-auto">
                    <DTCard />
                </div>
            </div>
        </div>
    </div>
</div>