@page "/Monitoring"

<PageTitle>Monitoreo</PageTitle>

<div class="container-fluid bg-image h-100 pt-4">
    <div class="row">
        <div class="col-sm-4 col-md-2">
            <div class="m-3" >
                <DTPanel>
                    <div class="row">
                        <div class="col-sm-12 col-xl-6">
                            <DTTitleValue Title="Power ON" Value="00 MIN" />
                        </div>
                        <div class="col-sm-12 col-xl-6">
                            <DTTitleValue Title="KWH/TCM" Value="0.0" />
                        </div>
                    </div>
                </DTPanel>
            </div>
            <div class="m-3">
                <DTPanel>
                    <div style="height:100px">
                    </div>
                </DTPanel>
            </div>
        </div>
        <div class="col-sm-8 col-md-10">
            
        </div>
    </div>
</div>

@code {

}
