<nav class="navbar bg-navbar">
    <div class="container-fluid d-flex justify-content-between">
        <button class="navbar-toggler me-3" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-expanded="false" aria-label="toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="nav flex-fill" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Library</li>
            </ol>
        </div>
        
        <a href="/" class="navbar-brand">
            <img src="favicon.ico" height="30" />
        </a>

        <div class="collapse navbar-collapse" id="menu">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                        <i class="bi bi-home"></i>
                        Home
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>
