
<div class="card text-center">
    <div class="card-body">
    <img src="img/IconoHornoDanieli.svg" class="card-img-top p-4" alt="Horno Danielli">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="@Link" class="card-link btn btn-outline-primary">Card link</a>
  </div>
</div>

@code {
    [Parameter]
    public string? Link { get; set; }
}
